[Unit]
AssertPathExists=/home/foodfinder/opentelemetry-starter

[Service]
User=foodfinder
WorkingDirectory=/home/foodfinder/opentelemetry-starter
ExecStart=/home/foodfinder/opentelemetry-starter/run_vendor.sh --is_prod
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
